.product-item{
    height: 100% ;
    width:100% ;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #15317E;
}
.mt-product{
    margin: 20px 10px 0px 20px;
}
.name-product{
    margin: 10px 10px 0px 20px;
    font-weight: bold
}
.hr-product{
    margin: 15px 20px 0px 20px;
    background-color: #15317E; 
    border: none; 
    height: 3px; 
}
.title-topping{
    margin: 15px 20px 0px 20px;
    font-weight: bold;
}
.container-toppings{
    margin: 15px 20px 0px 20px;
}
.price-product{
    margin-top: 50px;
    margin-right: 40px;
    text-align: right;
    font-weight: bold;
}