.store-item{
    padding: 20px 0 20px 30%;
    font-size: 25px;
}
.store-item:hover {
    color: aliceblue;
    background-color: rgb(122, 144, 211);
}

.store-item-selected{
    padding: 20px 0 20px 30%;
    font-size: 25px;
    color: aliceblue;
    background-color: rgb(69, 107, 222);
}

@media (max-width: 768px) {
    .store-item{
        padding: 10px 0 10px 42px;
        font-size: 18px;

    }
    .store-item-selected{
        padding: 10px 0 10px 42px;
        font-size: 18px;
    }
}
